<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body id="LoginForm">
    <nav>
        <ul>
            <label class="err" th:if="${param.register}">회원가입이 성공적으로 완료되었습니다.</label>
            <button type="button" class="btn btn-default btn-lg btn3d" th:onclick="|location.href='@{/register}'|">회원가입</button>
            <button type="button" class="btn btn-default btn-lg btn3d" th:onclick="|location.href='@{/login}'|">로그인</button>
        </ul>
    </nav>
</body>
</html>